@tailwind base;
@tailwind components;
@tailwind utilities;
.App {
  text-align: center;
}

*{
  margin: 0;
  padding: 0;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.rotateBall{
  height: 30px;
  width: 30px;
  border: 5px dotted purple;
  border-radius: 100%;
  border-style: dotted;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-iteration-count: infinite;
  animation-duration: 100ms;
  animation-name: rotate;
  animation-timing-function: ease-in;
}
.profile-picture{
 
}
.loadingornot{
 
  width: 100%;
  display: flex;
  justify-content: center;
}
@keyframes rotate{
  from{
    transform: rotate(36deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #fff; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}
.style1{
  background: rgb(209, 209, 207);
}
.yourIdeaCont{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 16.4vw;
  margin-right: 16.4vw;
}
.profile-feed {
  margin-top: -90px;
  margin-bottom: -40px;
}

.cardbox {
border-radius: 3px;
/* margin-bottom: 20px; */
padding: 0px !important;
}

.AdminPagePosts{
  height: 10vh;
  background-color: #f3f3f3;
}
/* Cardbox Heading */

.cardbox .cardbox-heading {
padding: 16px;
margin: 0;
}

.cardbox .btn-flat.btn-flat-icon {
border-radius: 50%;
font-size: 24px;
height: 32px;
width: 32px;
padding: 0;
overflow: hidden;
color: #fff !important;
background: #cfd1d1;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}

.cardbox .float-right .dropdown-menu {
position: relative;
left: 13px !important;

}

.cardbox .float-right a:hover {
background: #f4f4f4 !important;
}

.cardbox .float-right a.dropdown-item {
display: block;
width: 100%;
padding: 4px 0px 4px 10px;
clear: both;
font-weight: 400;
font-family: 'Abhaya Libre', serif;
font-size: 14px !important;
color: #848484;
text-align: inherit;
white-space: nowrap;
background: 0 0;
border: 0;
}


/* Media Section */
.media {
display: -ms-flexbox;
display: flex;
-ms-flex-align: start;
align-items: flex-start;
}

.d-flex {
display: -ms-flexbox !important;
display: flex !important;
}

.media .mr-3 {
margin-right: 1rem !important;
}

.media img {
width: 48px !important;
height: 48px !important;
padding: 2px;
border: 2px solid #f4f4f4;
}

.media-body {
-ms-flex: 1;
flex: 1;
padding: .4rem !important;
}

.media-body p {
font-family: 'Rokkitt', serif;
font-weight: 500 !important;
font-size: 14px;
color: #88898a;
}

.media-body small span {
font-family: 'Rokkitt', serif;
font-size: 12px;
color: #aaa;
margin-right: 10px;
}


/* Cardbox Item */
.cardbox .cardbox-item {
position: relative;
display: block;
padding: 20px;
}

.cardbox .cardbox-item img {}

.img-responsive {
display: block;
max-width: 100%;
height: auto;
}

.fw {
width: 100% !important;
height: auto;
}


/* Cardbox Base */
.cardbox-base {
border-bottom: 2px solid #f4f4f4;
}

.cardbox-base ul {
margin: 10px 0px 10px 15px !important;
padding: 10px !important;
font-size: 0px;
display: inline-block;
}

.cardbox-base li {
list-style: none;
margin: 0px 0px 0px -8px !important;
padding: 0px 0px 0px 0px !important;
display: inline-block;
}

.cardbox-base li a {
margin: 0px !important;
padding: 0px !important;
}

.cardbox-base li a i {
position: relative;
top: 4px;
font-size: 16px;
color: #8d8d8d;
margin-right: 15px;
}

.cardbox-base li a span {
font-family: 'Rokkitt', serif;
font-size: 14px;
color: #8d8d8d;
margin-left: 20px;
position: relative;
top: 5px;
}

.cardbox-base li a em {
font-family: 'Rokkitt', serif;
font-size: 14px;
color: #8d8d8d;
position: relative;
top: 3px;
}
.devPagePosts{
  height: 14vh;
  background-color: #f3f3f3;
}
.cardbox-base li a img {
width: 25px;
height: 25px;
margin: 0px !important;
border: 2px solid #fff;
}


/* Cardbox Comments  */
.cardbox-comments {
padding: 10px 40px 20px 40px !important;
font-size: 0px;
text-align: center;
display: inline-block;
}
.cardbox-approval {
  justify-content: space-around;
  padding-bottom: 3vh;
  font-size: 0px;
  text-align: center;
  display: flex;
  }
.cardbox-comments .comment-avatar img {
margin-top: 1px;
margin-right: 10px;
position: relative;
display: inline-block;
text-align: center;
width: 40px;
height: 40px;
}

.cardbox-comments .comment-body {
overflow: auto;
}

.search {
position: relative;
right: -60px;
top: -40px;
margin-bottom: -40px;
border: 2px solid #f4f4f4;
width: 100%;
overflow: hidden;
}

.search input[type="text"] {
background-color: #fff;
line-height: 10px;
padding: 15px 60px 20px 10px;
border: none;
border-radius: 4px;
font-family: 'Rokkitt', serif;
font-size: 14px;
color: #8d8d8d;
height: inherit;
font-weight: 700;
}

.search button {
position: absolute;
right: 0;
top: 0px;
border: none;
background-color: transparent;
color: #bbbbbb;
padding: 15px 25px;
cursor: pointer;

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}

.search button i {
font-size: 20px;
line-height: 30px;
display: block;
}


/* Author */
.author a {
font-family: 'Rokkitt', serif;
font-size: 16px;
color: #00C4CF;
}

.author p {
font-family: 'Rokkitt', serif;
font-size: 16px;
color: #8d8d8d;
}
.yourIdeaCont button{
  display: block;
}
.yourIdea{
  outline: none;
  border: none;
  resize: none;
  width: 100%;
  height: 20vh;
  border-radius: 5px;
  padding: 10px;
}

.main-text-space{
text-align: center;
padding-top: 5vh;
}
/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  color: red;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn{
  font-size: 39px;
  cursor: pointer;
  background-color: transparent;
  color: rgb(82, 82, 82);
  padding-top: 10px;
  display: none;
  /* padding: 10px 10px */
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}
@media only screen and (max-width: 300px) {

.cardbox-approval {
  justify-content: center;
  padding-bottom: 3vh;
  text-align: center;
  display: flex;
  }
  .cardbox-approval button{
    width:  27vw;
    height: 9vh;
  }
  .cardbox-approval .btn-outline-warning{
    width: 32vw;
  }
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media only screen and (max-width: 991px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
  .openbtn{display: block;}
  .submitIdea{
      display: none;
    }
    .submitIdeaa{
      display: block;
    }
    .yourIdeaCont{
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-left: 0;
      margin-right: 0;
    }
    .search input[type="text"] {
      background-color: #fff;
      line-height: 10px;
      padding: 15px 60px 20px 10px;
      border: none;
      width: 48vw;
      border-radius: 4px;
      font-family: 'Rokkitt', serif;
      font-size: 14px;
      color: #8d8d8d;
      height: inherit;
      font-weight: 700;
      }
}

h2{
  color: beige
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.homeWhole{
  width: 100%;
  text-align: center;
  height: 60px;
  padding-top: 30px;
  background: blueviolet
}
.homeimg{
  width: 100%;
  opacity: 50%;
}
.whatWeDo{
  background: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: center
}
.gsdiv{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.gsbtn{
  background: blueviolet;
  padding: 20px;
  width: 100%;
  border: none;
}
.eachOfwwd{
  width: 30%;
  padding: 20px;
  height: 70px;
  background: whitesmoke;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 490px){
  .homeimg{
    display: none;
  }
}
@media only screen and (max-width: 280px){
  .wfgf{
   margin-top: 90vh;
  }
}
